header{
  position: absolute;
  background-color:#64afaa;
  width:100%;
  height: 10vh;
  color: white;
}
.flex-container{
  display: flex;
  background-color: #64afaa;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 9px;
}
.flex-container a{
  color: white;
}
header h2{
  position: absolute;
  margin-top: 5px;
  left :20%;


}
footer {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#64afaa;;
  color: white;
  text-align: center;
}
/* footer h5{
  position: absolute;
  margin-top: 72px;
  left: 34%;
} */
.nav{
position: absolute;
width:100%;

}
.nav a{
position:relative;
left: 70%;
top: 25px;
color: white;
text-decoration: none;
margin-right: 40px;
}
